header {
	width: 100%;
	max-width: 1680px;
	// background-color: red;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.containerLogo {
		// background-color: pink;
		width: 60%;
		// height: 40%;
		text-align: center;
		padding: 1rem;
		img {
			width: 30%;
			margin: 2rem 0;
		}
		h1 {
			font-size: 3em;
			font-family: $fuente;
			.name {
				color: $colorAzul;
			}
			.lastname {
				color: $colorNaranja;
			}
		}
	}
	.containerProfesion {
		// background-color: yellow;
		width: 60%;
		font-size: 1em;
		text-align: center;
		font-family: $fuente;
		h2 {
			margin: 2rem;
		}
		.systemComputer {
			color: $colorAzul;
		}
		.fullStack {
			color: $colorNaranja;
		}
	}
}
