// Variables
$colorBlanco: #f5f5f5;
$colorAzul: #0f1626;
$colorNaranja: #ff533d;
$colorCafe: #ab987a;
$colorGris: #aaaaaa;
$fuente: 'FuraCode';

@import './general';
@import './header';
@import './menu';

@font-face {
	font-family: 'FuraCode';
	src: url('./fonts/Fura Code Regular Nerd Font Complete Mono.ttf');
}
